.container {
  width: 40%;
  // height: 30rem;
  display: flex;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  border-radius: 3%;
  padding: 1rem 1rem;
  justify-content: flex-start;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--grey);
}

.close-icon {
  margin-bottom: -2.5rem;
}

.header-text {
  font-weight: bold;
  text-align: center;
}

.title {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
}

.phone-container {
  margin-top: 1rem;
}

.country-code-input {
}

.phone-number-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  padding: 1rem 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.country-code-select {
  width: 100%;
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 4px;
  // margin-right: 1rem;
}

.text {
  margin-top: 1rem;
  font-size: 0.7rem;
  text-align: left;
}

.continue-button {
  margin-top: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.button-container {
  display: flex;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.icon {
  // margin-right: auto;
}

.button-text {
  flex: auto;
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.line-with-text {
  position: relative;
  text-align: center;
  margin-top: 1rem;
}

.line-with-text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--grey);
  transform: translateY(-50%);
}

.line-with-text > span {
  background-color: white;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}
